<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
<link  rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
<script type="text/javascript" src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<!-- <%= (unknown[0])[0] %> -->
    
<div class="columns">
        <div class="column attended bigblock">
          First column
        </div>
        <div class="column absent bigblock">
          Second column
        </div>
        <div class="column bigblock">
          Third column
        </div>
        <div class="column bigblock">
          Fourth column
        </div>
</div>

<hr>

<button class="button is-primary modal-button" data-target="#attendedModal" aria-haspopup="true">Sessions Attended</button>
<%- include ../partials/attended.ejs %>

<button class="button is-primary modal-button" data-target="#absentModal" aria-haspopup="true">Sessions Absent</button>
<%- include ../partials/absent.ejs %>

<button class="button is-primary modal-button" data-target="#authAbsentModal" aria-haspopup="true">Sessions Auth Absent</button>
<%- include ../partials/authAbsent.ejs %>

<button class="button is-primary modal-button" data-target="#unexpectedAttendanceModal" aria-haspopup="true">Unexpected Attendance</button>
<%- include ../partials/unexpectedAttendance.ejs %>

<button class="button is-primary modal-button" data-target="#accessGeneralModal" aria-haspopup="true">General Access</button>
<%- include ../partials/accessGeneral.ejs %>

<button class="button is-primary modal-button" data-target="#accessLibraryModal" aria-haspopup="true">Library Access</button>
<%- include ../partials/accessLibrary.ejs %>

<button class="button is-primary modal-button" data-target="#accomodationAccessModal" aria-haspopup="true">accomodationAccess</button>
<%- include ../partials/accessAccomodation.ejs %>

<button class="button is-primary modal-button" data-target="#wifiLoginModal" aria-haspopup="true">wifiLogin</button>
<%- include ../partials/wifiLogin.ejs %>

<button class="button is-primary modal-button" data-target="#ssoLibraryResourceModal" aria-haspopup="true">ssoLibraryResource</button>
<%- include ../partials/ssoLibraryResource.ejs %>

<button class="button is-primary modal-button" data-target="#ssoUnionModal" aria-haspopup="true">ssoUnion</button>
<%- include ../partials/ssoUnion.ejs %>

<button class="button is-primary modal-button" data-target="#vleLoginModal" aria-haspopup="true">vleLogin</button>
<%- include ../partials/ssoVLELogin.ejs %>

<button class="button is-primary modal-button" data-target="#panoptoModal" aria-haspopup="true">panoptoModal</button>
<%- include ../partials/panopto.ejs %>

<button class="button is-primary modal-button" data-target="#printingGeneral" aria-haspopup="true">printingGeneral</button>
<%- include ../partials/printingGeneral.ejs %>

<button class="button is-primary modal-button" data-target="#printingScannerModal" aria-haspopup="true">printingScanner</button>
<%- include ../partials/printingScanner.ejs %>

<button class="button is-primary modal-button" data-target="#printingCopyModal" aria-haspopup="true">printingCopy</button>
<%- include ../partials/printingCopy.ejs %>

<button class="button is-primary modal-button" data-target="#webPAModal" aria-haspopup="true">webPA</button>
<%- include ../partials/ssoWebPA.ejs %>

<button class="button is-primary modal-button" data-target="#ssoGeneralModal" aria-haspopup="true">ssoGeneral</button>
<%- include ../partials/ssoGeneral.ejs %>

<button class="button is-primary modal-button" data-target="#ssoSEATSModal" aria-haspopup="true">ssoSEATS</button>
<%- include ../partials/ssoSEATS.ejs %>

<button class="button is-primary modal-button" data-target="#ssoHousingModal" aria-haspopup="true">ssoHousing</button>
<%- include ../partials/ssoHousing.ejs %>

<button class="button is-primary modal-button" data-target="#ssoUniversityAppModal" aria-haspopup="true">ssoUniversityApp</button>
<%- include ../partials/ssoUniversityApp.ejs %>

<button class="button is-primary modal-button" data-target="#ssoInductionModal" aria-haspopup="true">ssoInduction</button>
<%- include ../partials/ssoInduction.ejs %>

<button class="button is-primary modal-button" data-target="#ssoUnknownModal" aria-haspopup="true">extras</button>
<%- include ../partials/unknown.ejs %>

<script>
document.querySelectorAll('.modal-button').forEach(function(el) {
  el.addEventListener('click', function() {
    var target = document.querySelector(el.getAttribute('data-target'));
    
    target.classList.add('is-active');
    
    target.querySelector('.delete').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });

    target.querySelector('.modal-background').addEventListener('click',   function() {
    target.classList.remove('is-active');
    });

    target.querySelector('.modal-close').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });
  });
});

</script>

<style>
.sessionNameWidth {
    max-width: 350px;
    margin-right: 30px;
    display: block;
}

.individualSession td {
    padding: 15px 10px;
}

.individualSessionHead th {
    padding: 10px 10px;
}
.authorised {
    background-color: #f6ab09 !important;
}
.absent {
    background-color: #f8595b;
}
</style>

<!-- Absent
<table>
    <tr>
        <th>State</th>
        <th>Session</th>
        <th>Date</th>
        <th>User</th>

    </th>
<% for(var i=0; i < sessionAbsent.length; i++) { %>
        <tr>
          <td><%= (sessionAbsent[i])[2] // active state %> </td>
          <td><%= (sessionAbsent[i])[1] %></td>
          <td><%= (sessionAbsent[i])[3] %></td>
          <td><%= (sessionAbsent[i])[4] %></td>
          <td></td>
        </tr>
     <% } %>
    </table>
 -->

</body>
</html>