<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
<link  rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
<script type="text/javascript" src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<!-- <%= (unknown[0])[0] %> -->

<div class="">

<!-- top row --> 
<div class="columns">
        <div class="column attendedblock bigblock">
          <span class="keyNumber"><%= sessionAttended.length %></span>
          <span class="subtext">Sessions Attended</span>
          <button class="button blockbutton modal-button" data-target="#attendedModal" aria-haspopup="true">See More</button>
          <%- include ../partials/attended.ejs %>
        </div>
        <div class="column absentblock bigblock">
            <span class="keyNumber"><%= sessionUninformedAbsent.length%></span>
            <span class="subtext">Sessions Uninformed Absent</span>
            <button class="button blockbutton inline modal-button" data-target="#uninformedAbsentModal" aria-haspopup="true">See More</button>
            <%- include ../partials/uninformedAbsent.ejs %>

            <span class="keyNumber"><%= sessionInformedAbsent.length %></span>
            <span class="subtext">Sessions Informed Absent</span>
            <button class="button blockbutton inline modal-button" data-target="#informedAbsentModal" aria-haspopup="true">See More</button>
            <%- include ../partials/informedAbsent.ejs %>

        </div>
        <div class="column AuthAbsentblock bigblock">
            <span class="keyNumber"><%= authAbsentCount %></span>
            <span class="subtext">Days away from teaching have been authorised</span>
            <button class="button blockbutton inline modal-button" data-target="#authAbsentModal" aria-haspopup="true">See More</button>
            <%- include ../partials/authAbsent.ejs %>
        </div>

        <div class="column unexpectedAttend bigblock">
                <span class="keyNumber"><%= authAbsentCount %></span>
                <span class="subtext">Unexpected Attendances</span>
                <button class="button blockbutton modal-button" data-target="#unexpectedAttendanceModal" aria-haspopup="true">See More</button>
                <%- include ../partials/unexpectedAttendance.ejs %>
        
        </div>
</div>

<!-- second row --> 
<div class="columns">
        <div class="column doorAccessblock bigblock">
                <span class="keyNumber"><%= accessGeneral.length + libraryAccess.length + accomodationAccess.length  %></span>
                <span class="subtext">Doors Opened</span>
                <span class="minitext"><%= accessGeneral.length %> On Campus</span>
                <button class="button blockbutton modal-button" data-target="#accessGeneralModal" aria-haspopup="true">See More</button>
                <%- include ../partials/accessGeneral.ejs %>
                <span class="minitext"><%= libraryAccess.length %> Library Turnstiles</span>
                <button class="button blockbutton modal-button" data-target="#accessLibraryModal" aria-haspopup="true">See More</button>
                <%- include ../partials/accessLibrary.ejs %>
                <span class="minitext"><%= accomodationAccess.length %> Accomodation - Lawns & Courtyard</span>
                <button class="button blockbutton modal-button" data-target="#accomodationAccessModal" aria-haspopup="true">See More</button>
                <%- include ../partials/accessAccomodation.ejs %>
        </div>

        <div class="column eduroamblock bigblock">
                <span class="keyNumber"><%= wifiLogin.length %></span>
                <span class="subtext">eduroam sign-ins</span>
                <button class="button blockbutton modal-button" data-target="#wifiLoginModal" aria-haspopup="true">See More</button>
                <%- include ../partials/wifiLogin.ejs %>
        </div>

        <div class="column vleblock bigblock">
                <span class="keyNumber"><%= vleLogin.length + panopto.length + webpa.length  %></span>
                <span class="subtext">VLE Logins</span>  
                <span class="minitext"><%= vleLogin.length %> Canvas Logins</span>  
                <button class="button blockbutton modal-button" data-target="#vleLoginModal" aria-haspopup="true">See More</button>
                <%- include ../partials/ssoVLELogin.ejs %>
                <span class="minitext"><%= panopto.length %> Panopto Logins</span>   
                <button class="button blockbutton modal-button" data-target="#panoptoModal" aria-haspopup="true">See More</button>
                <%- include ../partials/panopto.ejs %>
                <span class="minitext"><%= webpa.length %> webPA Logins</span>  
                <button class="button blockbutton modal-button" data-target="#webPAModal" aria-haspopup="true">See More</button>
                <%- include ../partials/ssoWebPA.ejs %>
        </div>
        <div class="column printblock bigblock">
                <span class="keyNumber"><%= printingGeneral.length + printingScanner.length +  printingCopy.length %></span>
                <span class="subtext">Printers Used</span>  
                <span class="minitext"><%= printingGeneral.length %> Prints Started</span>  
                <button class="button blockbutton modal-button" data-target="#printingGeneral" aria-haspopup="true">See More</button>
                <%- include ../partials/printingGeneral.ejs %>
                <span class="minitext"><%= printingScanner.length %> Documents Scanned</span>  
                <button class="button blockbutton modal-button" data-target="#printingScannerModal" aria-haspopup="true">See More</button>
                <%- include ../partials/printingScanner.ejs %>
                <span class="minitext"><%= printingCopy.length %> Photocopiers Used</span> 
                <button class="button blockbutton modal-button" data-target="#printingCopyModal" aria-haspopup="true">See More</button>
                <%- include ../partials/printingCopy.ejs %>
        </div>
</div>

<!-- third row --> 
<div class="columns">
        <div class="column ssoServicesSeatsUnionblock bigblock">
                <span class="keyNumber"><%= ssoSEATS.length %></span>
                <span class="subtext">times you've checked attendance</span> 
                <button class="button blockbutton modal-button" data-target="#ssoSEATSModal" aria-haspopup="true">See More</button>
                <%- include ../partials/ssoSEATS.ejs %> 
                <span class="keyNumber"><%= ssoUnion.length %></span>
                <span class="subtext">times you've used Hull University Union services online</span> 
                <button class="button blockbutton modal-button" data-target="#ssoUnionModal" aria-haspopup="true">See More</button>
                <%- include ../partials/ssoUnion.ejs %>
        </div>
        <div class="column ihullblock bigblock">
                <span class="keyNumber"><%= universityApp.length %></span>
                <span class="subtext">times you've logged into iHull</span>  
                <button class="button blockbutton modal-button" data-target="#ssoUniversityAppModal" aria-haspopup="true">See More</button>
                <%- include ../partials/ssoUniversityApp.ejs %>
        </div>
        <div class="column bigblock">
                <span class="keyNumber"><%= induction.length %></span>
                <span class="subtext">Inductions online accessed</span> 
                <button class="button blockbutton modal-button" data-target="#ssoInductionModal" aria-haspopup="true">See More</button>
                <%- include ../partials/ssoInduction.ejs %> 

        </div>
        <div class="column inductionblock bigblock">
                <span class="keyNumber"><%= ssoHousing.length %></span>
                <span class="subtext">Accomodation Portal Uses</span>  
                <button class="button blockbutton modal-button" data-target="#ssoHousingModal" aria-haspopup="true">See More</button>
                <%- include ../partials/ssoHousing.ejs %>
        </div>
</div>

<!-- fourth row --> 
<div class="columns">
        <div class="column bigblock">
                <span class="subtext">Most Used Library Resource</span>  
                <span class="mediumText"><%= libraryMostCommonDomain %></span>  
                <button class="button blockbutton modal-button" data-target="#ssoLibraryResourceModal" aria-haspopup="true">See More</button>
                <%- include ../partials/ssoLibraryResource.ejs %>

        </div>
        <div class="column doorAccessblock bigblock">
                <span class="subtext">Debug Utilities</span>  <br><br>
                <button class="button blockbutton modal-button" data-target="#ssoGeneralModal" aria-haspopup="true">Unclassified Taps</button>
                <%- include ../partials/ssoGeneral.ejs %>
                <button class="button blockbutton modal-button" data-target="#ssoUnknownModal" aria-haspopup="true">Unknown Data</button>
                <%- include ../partials/unknown.ejs %>

        </div>
        <div class="column bigblock">
        </div>
        <div class="column bigblock">
        </div>

</div>




</div>


<script>
document.querySelectorAll('.modal-button').forEach(function(el) {
  el.addEventListener('click', function() {
    var target = document.querySelector(el.getAttribute('data-target'));
    
    target.classList.add('is-active');
    
    target.querySelector('.delete').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });

    target.querySelector('.modal-background').addEventListener('click',   function() {
    target.classList.remove('is-active');
    });

    target.querySelector('.modal-close').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });
  });
});

</script>

<style>
body {
    background-color: #3C185B;
}
.sessionNameWidth {
    max-width: 350px;
    margin-right: 30px;
    display: block;
}

.individualSession td {
    padding: 15px 10px;
}

.individualSessionHead th {
    padding: 10px 10px;
}
.authorised {
    background-color: #f6ab09 !important;
}
.absent {
    background-color: #f8595b;
}

.keyNumber {
    font-size: 35px;
    display: block;
}

.minitext {
    font-size: 12px;
    display: block;
}

.bigblock {
    padding: 30px;
    vertical-align: middle;
    color: #fff;
    min-height: calc(100%/3 + 5px);
    position: relative;
}
.attendedblock {
    background-color: #15d476;;
}
.absentblock {
    background-color: #FF6666;
}

.unexpectedAttend {
    background-color: #008E9C;
}

.AuthAbsentblock {
    background-color: #EDAE49;
}

.doorAccessblock {
    background-color: #575366;
}
.eduroamblock {
    background-color: #2C55A2;
}

.vleblock {
    background-color: #587291;
}

.printblock {
    background-color: #3C185B;
}

.ssoServicesSeatsUnionblock {
    background-color: #E54B4B;
}

.ihullblock {
    background-color: #282828;
}

.inductionBlock {
    background-color: #008E9C;
}

.blockbutton {
    opacity: 0.8;
    padding: 0px;
    background: none;
    color: #ffffff;
    border: 0px;
    font-size: 14px;
    border-bottom: 1px solid;
    border-radius: 0px;
    bottom: 10px;
    display: block;
    margin-top: 10px;
    transition: 0.5s ease;
    clear: both !important;
    border-bottom: 0px;
    font-size: 12px;
    position: relative !important;
    margin-top: 4px;
}

.blockbutton:hover {
    opacity: 0.8;
    border-color: #e6e6e6 !important;
    color: #ffffff !important;
}

.mediumText {
    font-size: 25px;
    display: block;
    font-weight: 200;
}


</style>

<!-- Absent
<table>
    <tr>
        <th>State</th>
        <th>Session</th>
        <th>Date</th>
        <th>User</th>

    </th>
<% for(var i=0; i < sessionAbsent.length; i++) { %>
        <tr>
          <td><%= (sessionAbsent[i])[2] // active state %> </td>
          <td><%= (sessionAbsent[i])[1] %></td>
          <td><%= (sessionAbsent[i])[3] %></td>
          <td><%= (sessionAbsent[i])[4] %></td>
          <td></td>
        </tr>
     <% } %>
    </table>
 -->

</body>
</html>